<p id="notice"><%= notice %></p>

<h1>Opportunities</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Company</th>
      <th>Url</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opportunities.each do |opportunity| %>
      <tr>
        <td><%= opportunity.job_title %></td>
        <td><%= opportunity.company_name %></td>
        <td><%= opportunity.job_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

